#main {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    padding: 2rem;
}

.search form {
    width: clamp(20rem ,20vw, 30vw);
    padding: 1rem 2rem;

    display: flex;
    align-items: center;

    background: #fff;
    border: 0.1rem solid #ddd;
    border-radius: 0.5rem;
}

.search form:hover {
    box-shadow: 0.1rem 0.1rem 0.5rem #ddd;
}

.search form input {
    width: 100%;
    border: 0;

    font-size: 1.5rem;
}

.search form input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.search form input[type=number] {
    -moz-appearance:textfield;
}

::placeholder {
    color: #aaaaaa;
}

.search form .searchByCode {
    padding-right: 2rem;

    display: flex;
    align-items: center;

    background: none;
    border: 0;

    cursor: pointer;
}

.search form .clearSearch {
    display: flex;
    align-items: center;

    background: #fff;
    border: none;
    border-radius: 0.5rem;

    cursor: pointer;
}


.content {
    width: 80vw;
    padding: 2rem 5rem;
    margin-bottom: 2rem;

    display: flex;
    justify-content: space-between;

    background: #fff;
    border: 0.1rem solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.5rem #ddd;

    position: relative;
}

.content article {
    display: flex;
    align-items: center;
}

.content article img {
    width: 10rem;
    height: 10rem;

    border-radius: 2rem;
}

.content .description {
    height: 100%;
    padding: 0 5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content .description .idS {
    display: grid;
    grid-template-columns: 5rem 10rem;
}

.content .description .idS img {
    width: 4rem;
    height: 4rem;

    grid-row-start: 1;
    grid-row-end: 3;
}

.content .description .idS strong {
    display: flex;

    font-size: 1.5rem;
    font-weight: 500;
}

.content .description h1 {
    font-size: 2rem;
    font-weight: 300;
}

.content button {
    width: 3rem;
    height: 3rem;

    position: absolute;
    top: 1rem;
    right: 1rem;

    background: #fff;
    border: none;
}

.content .favorite {
    color: red;
    cursor: pointer;
}

.content .favorite:hover {
    opacity: 0.5;
}

.content .notFavorite:hover {
    cursor: pointer;
    color: red;
}

.actions .pagination {
    padding: 2rem;
}

.actions .pagination .MuiPagination-ul {
    justify-content: center;
}

@media screen and (max-width: 768px) {
    #main {
        position: relative;
        top: 8rem;
    }

    .content {
        height: clamp(35rem, 50vh, 50rem);
    }

    .content article {
        width: 100%;

        flex-direction: column;
    }

    .content .description {
        padding: 2rem 0 0;
    }

    .content .description .idS {
        justify-content: center;
        align-items: center;
    }

    .content .description h1 {
        text-align: center;
        padding-top: 2rem;
    }
}