.photos-list {
    width: 100%;
}

.photos-list article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.photos-list article img {
    width: 100px;
    height: 100px;
}


.photos-list .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* .photos-list .actions button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.photos-list .actions button[disabled] {
    opacity: 0.7;
    cursor: default;
}

.photos-list .actions button:not([disabled]):hover {
    opacity: 0.9;
}

.MuiButtonBase-root .Mui-selected {
    color: black;
} */