#main-header {
    height: 8rem;
    padding: 2rem 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: transparent;
    border-bottom: 1px solid #333;

    font-size: 1.5rem;
    color: #333;
}

#main-header h1 {
    font-weight: 100;
}

#main-header strong {
    font-weight: 400;
}

#main-header nav {
    display: flex;
    grid-gap: 3rem;
}

#main-header nav .pages {
    font-weight: 500;
    color: #333;
}

#main-header nav .pages:not(.currentPage):hover {
    opacity: 0.7;
}

#main-header nav .currentPage {
    border-bottom: 3px solid dodgerblue;
}

#main-header nav .currentPage:hover {
    color: dodgerblue;
}